<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Cyber</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Cyber</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Gold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Gold</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.lbyan.Cloudns</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cloudns</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
