<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh-Hans</string>
		<string>zh-Hant</string>
		<string>ja</string>
		<string>ko</string>
		<string>de</string>
		<string>fr</string>
		<string>es</string>
		<string>it</string>
		<string>pt-BR</string>
		<string>ru</string>
		<string>ar</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.lbyan.Cloudns</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cloudns</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
